ul.scenes, ul.frames {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
}
ul.scenes > li{
    list-style: none;
    display: inline-block;
    width: 160px;
    margin-left: 10px;
    height: 100%;
    position: relative;
}

ul.scenes > li:first-child{
    margin-left: 0;
}

ul.frames > li{
    position: absolute;
    list-style: none;
    width: 320px;
    height: 240px;
    display: block;
    transform-origin: 0% 0%;
    transition: all 0.1s ease-out;
    cursor: pointer;
    transform: scale(0.5)
}

ul.frames > li.active{
    transform: scale(1);
    z-index: 1;
}

ul.scenes > li.active > ul > li.active{
    z-index: 2;
}