ul.scenes, ul.frames {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
}

ul.scenes > li{
    list-style: none;
    display: inline-block;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    width: 180px;
}

ul.scenes > li:first-child{
    margin-left: 10px;
}